@model ErrorViewModel
@{
    ViewData["Title"] = "Error:";
}

<div class="container text-center">
    <h1 class="text-danger">@this.ViewData["Title"]</h1>
    <h1 class="text-danger">An error occurred while processing your request.</h1>

    @if (Model.ShowErrorMessage)
    {
        <h2 class="text-danger">@Model.ErrorMessage</h2>
    }
</div>