@{
    ViewData["Title"] = "Home Page";

    var greetingsMessage = this.User.Identity.IsAuthenticated ? $"Добре дошли, {this.User.Identity.Name}!" : "Добре дошли!";
}

<div class="text-center">
    <h1 class="display-4">@greetingsMessage</h1>
</div>
